body{
	background-color: #FFF;
}
a{text-decoration:none}
.rili{
	background-color: #FFF;
    border-radius: 6px;
    display: block;
    float: left;
    width: 90%;
    padding: 10px;
    margin-bottom:10px;
}
.rili ul li{
	width:14%;
	float:left;
	text-align:center;
	border-radius: 50%;
    line-height: 45px;
}

.rili ul{
	list-style-type: none;
    /* display: block; */
    width: 100%;
    /* margin: 0; */
    padding: 10px;
}
.notthismonth{
	color:grey;
}
.titlespan{
	display: block;
    margin: 10px;
    font-size: 1em;
    color: grey;
}

.rilidate{
	padding:0 5px;
}
.pagehead {
	background-color: #33afde;
    border-color: #97c3e2;
    color: #fff;
    /* text-shadow: 0 1px 0 #eee; */
    /* font-weight: 100; */
    border-width: 1px 0;
    border-style: solid;
    position: relative;
    padding: 10px;
    padding-left: 20px;
    font-size: 1.2em;
    text-align: center;
}
.plusimg{
	width: 25px;
    float: right
   }
h3{
	color: #615555;
    /* display: block; */
    text-align: left;
    font-size: 0.9em;
    font-weight: normal
}