<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <resource-ref>
    <description>MySQL Datasource</description>
    <res-ref-name>jdbc/suyu</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <error-page>
    <error-code>404</error-code>
    <location>/diandian/error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/diandian/error500.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NullPointerException</exception-type>
    <location>/diandian/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Parents</display-name>
    <servlet-name>Parents</servlet-name>
    <servlet-class>com.babycard.servlet.Parents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Parents</servlet-name>
    <url-pattern>/Parents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubscribeServlet</display-name>
    <servlet-name>SubscribeServlet</servlet-name>
    <servlet-class>com.babycard.servlet.SubscribeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubscribeServlet</servlet-name>
    <url-pattern>/SubscribeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiscoverServlet</display-name>
    <servlet-name>DiscoverServlet</servlet-name>
    <servlet-class>com.babycard.servlet.DiscoverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscoverServlet</servlet-name>
    <url-pattern>/DiscoverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardDetailServlet</display-name>
    <servlet-name>CardDetailServlet</servlet-name>
    <servlet-class>com.babycard.servlet.CardDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardDetailServlet</servlet-name>
    <url-pattern>/CardDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardPositionServlet</display-name>
    <servlet-name>CardPositionServlet</servlet-name>
    <servlet-class>com.babycard.servlet.CardPositionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardPositionServlet</servlet-name>
    <url-pattern>/CardPositionServlet</url-pattern>
  </servlet-mapping>
</web-app>